<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">总裁信箱使用须知</h3>
  </div>
  <div class="panel-body">
	  “总裁信箱”是为总裁与公司员工进行直线沟通联系而设立的“绿色通道”，是为了广泛吸纳来自各级员工的各种具有启发性、有利于推进公司经营发展、有利于优化企业管理的合理化建议。对于“总裁信箱”请阅读以下需知：
	  <br />
	  <br />
  1，每个员工作为公司大家庭中的一员。都有义务对于公司存在的不合理问题提出批评与建议；
  <br />
  <br />
  2，“总裁信箱”可以采取实名或匿名方式留言，可以提议公司在：现场管理、生产效率、品质管理、劳动纪律、保密等方面的改善建议。留言者必须对留言内容的真实性负责，严禁利用“总裁信箱”对他人进行人身攻击、谩骂和诋毁；
  <br />
  <br />
  3，公司对于积极提意见与建议的员工进行奖励。每个有意义的投诉与建议，将由总裁直接给予10元/条的奖励。对于提出的合理化建议公司进行了实施的，公司将给予表彰，并根据贡献大小给予数百元至数千元金额不等的奖励。
  <br />
  <br />
  </div>
  <a class="btn btn-primary center-block" href="index.php?uid={$uid}">同意</a>
</div>
